@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: #084887;
    font-family: 'Roboto Condensed', sans-serif;
}

.container {
    width: 55%;
    min-height: 100vh;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 50px 0 50px 0;
}

.list-container {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 80%;
}

/* .list-container:nth-child(1) {
    padding-top: 100px;
} */

.list-container h1 {
    color: #084887;
    font-size: 20px;
    font-weight: 900;
    padding-bottom: 15px;
}

.list-container h1 span {
    margin-left: 5px;
}

.item-list {
    list-style: none;
    margin-left: 50px;
}

.list-item {
    margin-top: 10px;
    font-size: 20px;
    color: #555;
    letter-spacing: 1px;
    font-weight: 400;
}

.list-item:nth-child(1) {
    margin-top: 0;
}

.list-item a {
    text-decoration: none;
    font-weight: 400;
    color: #e84118;
    margin-right: 5px;
}
